<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Invoice Submitted</h1>
<h2>Client Name  {{f.ClientName}}</h2>
<h2>Project Name {{f.ProjectName}}</h2>
<h2>Invoice Number 2019-20-{{f.id}}</h2>
<h2>InvoiceAmount {{f.InvoiceAmount}}</h2>
<h2>GSTAmount {{f.GSTAmount}}</h2>
<h2>TotalAmount {{f.TotalAmount}}</h2>
<h2>InvoiceSubmission {{f.InvoiceSubmission}}</h2>
<h2>InvoiceDueDate {{f.InvoiceDueDate}}</h2>
<h2>InvoiceStatus {{f.InvoiceStatus}}</h2>
</body>
</html>